<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBCONFIG" connectionString="Data Source=192.168.9.55;Initial Catalog=SEMCShare;Persist Security Info=True;User ID=sa;Password=diting" providerName="System.Data.SqlClient" />
    <!--<add name="DBCONFIG" connectionString="Data Source=(local)5;Initial Catalog=SEMCShare;Persist Security Info=True;User ID=sa;Password=1234qwer!" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>